code
{
display: inline-block;
border: 1px solid;
border-color: #CCC;
background-color: #E5E5E5;
padding: 0 .3em;
border-radius: 5px;
font-size:16px;
}

.sourceCode code 
{
box-sizing: border-box;
min-width: 100%;
border: 1px solid;
padding: .5em;
border-color: #888;
background-color: #DDD;
}

body
{
max-width: 700px;
margin: 40px auto;
line-height: 1.6;
font-size:18px;
color: #444;
background-color: #EEE;
padding: 0 20px;
}

h1,h2,h3,h4,h5,h6
{
line-height: 1.2;
}

img
{
width:100%;
}
